body {
    font-size: 16px !important;
    color: var(--fl-text) !important;
    background-color: blue !important;
}

h1 {
    font-size: 24px !important;
    margin: 0 !important;
}

h2 {
    font-size: 22px !important;
    margin: 0 !important;
}

h3 {
    font-size: 20px !important;
    margin: 0 !important;
}